#executables
__pycache__
__pycache__/
#environments
idlelib.idle/
pdfe_env/
venv_etc/
.vscode/
main.py
#build
build/
dist/
#files
*.log
*.spec
*.xlsx
*.pdf
*.txt
log
#saved 
saved_models/ 
output/
input/
scarto/
provee/
image/